SUPABASE_URL=https://edrltorcdwxdczgpgxko.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVkcmx0b3JjZHd4ZGN6Z3BneGtvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDUzMzExMSwiZXhwIjoyMDk2MTA5MTExfQ.7JH2nBK55uYQh9MEJq_Jm6uk7_JBx165j0JtjXOEAxE
REDIS_URL=redis-cli --tls -u rediss://default:gQAAAAAAAi6sAAIgcDE1MjEwYjU2ODM0YjY0YTNhODcyNzAwYmU1NjJkNjk0NA@fast-crab-143020.upstash.io:6379
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
QBO_CLIENT_ID=ABVLloY1bMlWzjGca1EWP9AMAH3IHlf8a39kIxQVKketK074Py
QBO_CLIENT_SECRET=aOViVk557zbzii7iVhkRIKpSWVg5aAfDVtf0v878
QBO_REDIRECT_URI=http://localhost:8000/auth/qbo/callback
QBO_WEBHOOK_VERIFIER_TOKEN=d89bc1d343306d8e26381df8ab0b30fe32a1459f866fba01f38475e70dfb5917
FERNET_KEY=d4y77JLwYj_0WAZ2EUDsiWfH0peqJITGfiBsuW0lorE=
JWT_SECRET=d89bc1d343306d8e26381df8ab0b30fe32a1459f866fba01f38475e70dfb5917
SENTRY_DSN=https://659ef8eb6c31285ac2cad64af0c92021@o4511505634689024.ingest.us.sentry.io/4511505638621184
